@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans');
@font-face {
    font-family: 'Century Gothic';
    src: url('fonts/CenturyGothic.eot');
    src: url('fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
        url('fonts/CenturyGothic.woff2') format('woff2'),
        url('fonts/CenturyGothic.woff') format('woff'),
        url('fonts/CenturyGothic.ttf') format('truetype'),
        url('fonts/CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:"Socialico";
    src:url("fonts/Socialico.eot?") format("eot"),
    url("fonts/Socialico.woff") format("woff"),
    url("fonts/Socialico.ttf") format("truetype"),
    url("fonts/Socialico.svg#Socialico") format("svg");font-weight:normal;font-style:normal;
}
.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: "Open Sans"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1200px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/* grids */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* inline block */
.inbTop{display: inline-block; vertical-align: top}
.inbMid{display: inline-block; vertical-align: middle}
.inbBot{display: inline-block; vertical-align: bottom}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
.socialico{font-family: "Socialico"}
/*button*/
.btn {font-family: 'Josefin Sans';font-size: 15px;font-weight: 400;color: #fff;display: inline-block;padding: 16.5px 47.35px;background: #E71876;border: 1px solid transparent;transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-family: 'Josefin Sans';font-size: 50px;font-weight: 400;color:#545454;}
h1 span{display: block;color:#E61876}
h2{font-weight: 400;}
h3{font-weight: 400;}
/*header*/
#header {position: relative;z-index: 9999; padding: 57px 0 0}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;}
#header nav ul li a {font-family: 'Josefin Sans'; font-size: 15px; color: #fff;margin-left: 60px;}
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#fff;}
.hdLeft img{position: absolute;top:29px; left:14px}
.hdRight {text-align: right}
/*banner*/
#banner {position: relative;background: url(../images/common/bg1.jpg)no-repeat center top;background-size: cover; padding: 410px 0 224px; margin-top: -81px;}
#banner p:nth-child(1){font-family: 'Josefin Sans'; font-size: 50px; color: #fff; margin: 0 auto;}
#banner p:nth-child(2){font-family: 'Josefin Sans'; font-size: 25px; color: #fff; margin: 30px auto; letter-spacing: 12px}
#banner p:nth-child(3){font-family: 'Open Sans'; font-size: 15px; color: #fff; margin: 30px auto 60px;max-width: 563px; line-height: 30px}
/*content*/
#content {}
/* detail-section */
#details-section{padding: 120px 0;}
#details-section .row{max-width: 1160px}
.dsText{max-width: 599px; width: 100%;text-align: left;}
.dsRight{max-width: 556px; width: 100%;text-align: left;}
.dsRight p{font-size: 15px; color: #545454;margin: 0 auto;line-height: 25px}
/* satisfaction-section */
#satisfaction-section{position: relative;padding: 79px 0 84px;}
#satisfaction-section .ssText{max-width: 410px; width: 100%;margin-left: 20px;text-align: left;}
#satisfaction-section .ssText h2 {font-family: 'Josefin Sans'; font-size: 30px; color: #535353;}
#satisfaction-section .ssText h2 span{display: block;color: #E61876;}
#satisfaction-section .ssText p{font-size: 15px; color: #545454;margin: 30px 0;line-height: 27px; max-width: 384px}
#satisfaction-section .ssText p.phone{font-family: 'Josefin Sans'; font-size: 18px; color: #535353;line-height: 45px;margin-top: 34px;}
#satisfaction-section .ssText p.phone span{display: block;font-size: 50px}
#satisfaction-section img.img1{position: absolute; top: 50%;transform: translateY(-50%);right: 103px;max-width: 794px;width: 56%;}
#satisfaction-section img.img1Right{position: absolute; top: 50%;transform: translateY(-50%);right:0;max-width: 653px;width: 46%;z-index: -1}
#satisfaction-section img.img1{-webkit-clip-path: polygon(100% 0%, 72% 50%, 100% 100%, 28% 100%, 0% 50%, 28% 0%);clip-path: polygon(100% 0%, 75% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);}
#satisfaction-section p.socialMedia{font-size: 50px; color: #fff;position: absolute; top:96px; right: 60px}
#satisfaction-section p a{display: block;margin: 30px 0;}
/* service-section */
#service-section{padding: 130px 0 100px;}
#service-section dl.mid{margin: 16px 19px;}
#service-section dl dt{}
#service-section dl dd{margin: 0;font-family: 'Josefin Sans'; font-size: 25px; color: #535353;padding: 10px 0;}
/* reviews-section */
#reviews-section{position: relative;padding: 100px 0 85px;}
#reviews-section .rsText{max-width: 413px; width: 100%;margin-left: 20px;text-align: left;}
#reviews-section .rsText p{font-size: 15px; color: #535353;margin: 50px 0 20px;}
#reviews-section .rsText p.author{font-family: 'Josefin Sans'; font-size: 18px;margin: 0;color: #E61876;}
#reviews-section .rsText .btn{margin-top: 80px;}
#reviews-section img.img2{position: absolute; top: 50%;transform: translateY(-50%);left: 103px;max-width: 793px;width: 56%;}
#reviews-section img.img1Right{position: absolute; top: 50%;transform: translateY(-50%);left:0;max-width: 653px;width: 46%;z-index: -1}
#reviews-section img.img2{-webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);}
#reviews-section p.socialMedia{font-size: 50px; color: #fff;position: absolute; top:96px; left: 60px}
#reviews-section p a{display: block;margin: 30px 0;}
/* gallery-section */
#gallery-section{position: relative;padding: 130px 0 50px;}
.imgGallery{max-width: 384px; width: 100%;margin-top: 30px;}
.imgGallery.gMid{margin-left: 15px ;margin-right: 15px;}
.imgGallery img{margin-bottom: 15px}
/* qform-section */
#qform-section {background: url(../images/common/bg2.jpg)no-repeat center top; background-size: cover; padding: 75px 0 80px}
#qform-section .row{max-width: 960px}
#qform-section .col{width: 49%;}
#qform-section h1{color: #fff}
#qform-section form{margin-top: 30px;}
#qform-section input[type="text"]{background: none;border-radius: 0}
#qform-section textarea{background: none;border-radius: 0}
#qform-section input[type="text"]::placeholder, #qform-section textarea::placeholder{font-size: 15px; color: #fff;}
#qform-section p{color: #fff;}
/* contact-details-section */
#contact-details-section{padding: 80px 0 70px;}
.cdsLeft{max-width: 454px; width: 100%;margin-left: -47px;text-align: left;}
.cdsLeft p{font-size: 15px; color: #535353;margin-left: 20px;max-width: 370px; letter-spacing: 0.5px}
.cdsMid{max-width:440px; width: 100%;text-align: left;}
.cdsMid .info{min-height: 120px;}
.cdsMid img, .cdsMid p{display: inline-block;vertical-align: middle;margin-left: 17px;}
.cdsMid p{font-family: "Josefin Sans"; font-size: 15px; color: #555555;}
.cdsMid p span{display: block; font-size: 20px; margin-top: 10px;}
.cdsMid p span.phone{font-size: 40px}
.cdsRight{max-width: 350px; width: 100%;}
.cdsRight .maps{width: 314px;}
/*footer*/
#footer {background: #E71876;padding: 20px 0}
#footer ul {margin: 0;padding: 0; text-align: left;}
#footer ul li {display: inline-block;vertical-align: middle;}
#footer ul li a {font-family: 'Josefin Sans'; font-size: 15px; color: #fff;margin-right: 40px;}
#footer .copy, #footer .silver{margin: 0 auto;font-size: 15px; font-family: 'Josefin Sans'; color:#fff; text-align: right;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}

.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}
